body {
  background-color: rgb(7, 89, 129);
  margin: 0;
  padding: 20px;
  height: 100%;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  display: grid;
}
#gameboard {
  width: 300px;
  height: 300px;
  background-color: black;
  display: flex;
  justify-self: center;
  margin: 5px;
  flex-wrap: wrap;
  border: solid 1px black;
}
.square {
  width: 100px;
  height: 100px;
  background-color: rgb(39, 142, 173);
  border: solid 2px black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 15px solid blue;
  box-sizing: border-box;
}
.cross {
  height: 90px;
  width: 90px;
  position: relative;
  transform: rotate(45deg);
}
.cross:before, .cross:after {
  content:"";
  position:absolute;
  background-color: red;
}
.cross:before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
}
.cross:after {
  top:50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}
header {
  font-family:'Times New Roman', Times, serif;
  background-color: rgb(39, 142, 173, 0.7);
  margin-bottom: 20px; 
  width: 100%;
}
p {
  color: white;
  font-size: 20px;
  justify-self: center;
}
nav>a { 
  font-size: 20px;
  margin: 30px;
  color: white;
  text-decoration: none;
  flex-direction: column;
  flex-wrap: wrap;
}

#dropDownArea {
  background-color: rgb(39, 142, 173);
  width: 200px;
  height: 50px;
  border: solid black 2px;
  justify-self: center;
  color: white;
}

/*____Sida 2____*/

#scoreboard {
  margin: 10px;
  width: 200px;
  height: 400px;
  background-color: rgb(39, 142, 173);
  border: solid 2px black;
  color: white;
}
#playerHistory {
  margin: 10px;
  width: 200px;
  height: 400px;
  background-color: rgb(39, 142, 173);
  border: solid 2px black;
  color: white;
}
#leaderboard {
  margin: 10px;
  width: 100px;
  height: 400px;
  background-color: rgb(39, 142, 173);;
  border: solid 2px black;
  color: white;
}
#section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
#section1 {
  width:450px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


/*____Sida 3____*/

#decorBox {
  width: 300px;
  height: 50px;
  background-color: rgb(39, 142, 173);
  justify-self: center;
}
#playerList {
  width: 50px;
  height: 50px;
  background-color: rgb(39, 142, 173);
}

